*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
}

.sidebar{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
    background-color: darkslateblue;
    color: rgb(200, 224, 245);
    position: fixed;
    left: 0;
}
.logo{
    letter-spacing: 2;
}
.menus{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.menus a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
.menus fi-xnsuxl{
    margin-right: 0.5rem;
}
.menus a:hover{
    color:rgb(237, 226, 110);
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}
.profile:hover{
    background-color: rgb(237, 226, 110);
}
.profile-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.profile-name p{
    font-size: 12px;
}
.main{
    width: calc(100% - 20% - 25%);
    min-height: 100%;
    min-width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 2rem 2%;
    margin-left: 20%;
    background-color: beige;
    z-index: 1
}
.main-header{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.close-outline{
    background-color: rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 20px;
    display: none;
}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    position: relative;
    background-color: azure;
}
.search input{
    width: 90%;
    border: none;
}
.btn-search{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 5%;
    background-color: beige;
    color: rgb(79, 90, 211);
    font-size: 18px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}
.btn-search:hover{
    background-color: rgb(237, 226, 110);
    color: cornflowerblue;
}
.filter-wrapper{
    margin: 1rem 0;
    font-size: 14px;
}
.filter{
    display: flex;
    gap: 1rem;
    overflow: auto;
    margin: 0.5 0;
}
.btn-filter{
    min-width: 110px;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    background-color: rgb(237, 226, 110);
    cursor: pointer;
}
.btn-filter:hover{
    background-color:rgb(198, 198, 86);
    color: indianred;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sort{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}
.sort p{
    font-size: 14px;
}
.sort-list select{
    height: 1.5rem;
    border-radius: 20px;
    border: none;
    margin-top: 0 0.5rem;
}
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
    overflow: auto;
}
.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 3%;
    margin: 0 1%;
    background-color: azure;
    line-height: 1.5;
    gap: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    cursor: pointer;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-left{
    width: 10%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 20%;
}
.card-left img{
    width: 100px;
    height: auto;
    min-height: 60px;
    padding: 1rem;
}
.card-center{
    width: 50%;
}
.card-loc, .card-sub{
    font-size: 13px;
    color: burlywood;
}
.card-sub{
    display: flex;
    flex-wrap: flex;
}
.card-sub p{
    display: flex;
    padding: 0 0.5rem 0 0;
    align-items: center;
}
.card-right{
    width: 15%;
}
.card-tag a{
    color:rgb(255, 102, 97);
    font-size: 13px;
}
.card-salary{
    padding: 0.5rem 0;
    color: rgb(23, 216, 255);
}
.card-salary span{
    color: rgb(59, 203, 255);
    font-size: 13px;
}
.blue-bg{
    background-color:transparent;
}
.yellow-bg{
    background-color: transparent;
}
.red-bg{
    background-color: transparent;
}
.pink-bg{
    background-color: transparent;
}
.green-bg{
    background-color: transparent;
}
.detail{
    width: 25%;
    min-width: 250px;
    height: 100%;
    padding: 2rem;
    position: fixed;
    right: 0;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px, 7px, 29px, 0px;
}

.close-outline{
    display: none;
}
.detail-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail-header img{
    width: 50px;
    height: 50px;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: gray;
    border: none;
    margin: 1rem 0;
}
.detail-desc{
  line-height: 1.5;  
}
.about a{
    margin: 0.5rem 0 0 0;
    color: black;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
.detail-btn{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}
.btn-apply{
    background-color: rgb(237, 102, 92);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.btn-save{
    background-color: rgb(255, 181, 53);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer; 
}
.btn-apply:hover{
    border: 1px solid rgb(237, 102, 92);
    background-color: transparent;
    color: rgb(237, 102, 92);
}
.btn-save:hover{
    border: 1px solid rgb(255, 181, 53);
    background-color: transparent;
    color: rgb(255, 181, 53);
}
.sidebar.active{
    display: flex;
    width: 220px;
    z-index:100p
}

.close-button {
    cursor: pointer;
   }

/*-----screen with max width 880----*/
@media screen and (max-width:880px) {
    .menu-bar{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .main {
        width: calc(100% - 40%);
        margin-left: 0;
    }
    .detail{
        width: 40%;
    }
}

/*----smaller screen---*/
@media screen and (max-width:700px) {
    .main {
        width: 100%
    }
    .detail {
        display: none;
    }

    @media screen and (min-width: 480px) {
        .close-outline {
           display: none;
        }
       }
    /*---click on card----
    .detail.active {
        display: block;
        width: 100%;
        z-index: 100;
    }

    .detail.active .close-outline {
        display: block;
        cu
    }*/
}
